* {
    margin: 0;
    padding:0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


body {
    background: #F0F0E8;
    overflow-x: hidden;
}

h1 {
    font-size: 12vw;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

h2 {
    font-size: 2.4vw;
}

h3 {
    font-size: 1.8vw;
}

p{
    font-size: 1.2vw;
}


.bg-image {
    background:linear-gradient(45deg, #e73a06, #70c7ca,#de8282,#23d541);
    background-size: 400% 400%;
    animation: gradient 12s ease-in infinite;
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}

}


.header-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(ellipse at top, #75e664, transparent),
    radial-gradient(ellipse at bottom, #75e664, transparent);
}
.container-title h1{
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: url('./icons/retrobyte-matrix.gif');
    background-size: contain;
}

.login-signin{
    display:flex;
    flex-direction: row;
}

.signin{
    display:flex;
    flex-direction: column;

}
.signin-line{
    text-decoration: none;
    color:white;
    padding: 5px 10px;
    margin-right: 5px;
}

.signin-line-username{
    text-decoration: none;
    color:white;
    padding: 5px 10px;
    margin-right: 5px;
}

.signin-line:hover {
    background-color: #ddd;
    color: #b00000;
    border-radius: 6%;
    box-shadow: 0px 0px 7px #b00000 inset,
    0px 0px 7px #b00000;
}

.between-sections {
    height: 4rem;
}

.bg-image2 {
    background: radial-gradient(ellipse at top, #75e664, transparent),
    radial-gradient(ellipse at bottom, #75e664, transparent);
}


.title-words {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shadows {
    position: relative;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: white;
    font-weight: bolder;
    letter-spacing: -0.05em;
    user-select: none;
    text-transform: uppercase;
    font-size: 2.5vw;
    transition: all 0.25s ease-out;
}
.shadows:hover {
    text-shadow: -16px 6px 15px #ced0d3;
}

.networks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2vw;
}

.networks a:hover{
    transform: scale(2);
}

.icon {
    width: 25px;
}

footer {
    background-color: black;
    background-size: contain;
    color:#fff;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-container{
    padding: 20px 0px;
}
.footer-row{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 20px 0px;
}
.footer-col {
    text-align: left;
}

.footer-col h3{
    padding: 20px 0px 20px 0px;
}

.footer-col p{
    justify-self: center;

}

.footer-col ul{
    list-style: none;
    padding: 0;
}

.footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.footer-col ul li:hover {
    text-decoration: none;
    transform: scale(1.1);
}