<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <display-name>RetroByte</display-name>
    <context-param>
        <description>Ruta donde guardar las imagenes</description>
        <param-name>image-path</param-name>
        <param-value>C:\Program Files\Apache Software Foundation\Tomcat 9.0\webapps\retrobyte_pictures</param-value>
    </context-param>
</web-app>